
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding: 0;
}

section {
	width: 100%;
	display: block;

}

#header {
	width: 100%;
	height: 45px;
	background-color: #F0F2F4;
}


.contackts {
	display: inline-block;
}

.fb_icon {
	display: inline-block;
	float: right;
	position: relative;
	top: -4px;
	width: 26px;
	height: 26px;
	background: url(../img/fb_icon.png) no-repeat top center;
}

.mail_phone li {
	display: inline-block;
}

.mail_phone li a {
	color: #424242;
}

.contackts {
	padding-right: 90px;
	padding-top: 11px;
}

.contackts .fa {
	margin: 0 3px;
}
/* nav
****************************************/ 

nav ul li {
	display: inline-block;
}

.logo {
	display: block;
	float: left;
	width: 242px;
	height: 51px;
	background: url(../img/logo.png) no-repeat top center;
	margin-left: 100px;
}

.nav_menu .baton {
	padding: 8px 18px;
	background-color: red;
	color: white;
	font-weight: bold;
	float: right;
	margin-right: 100px;
}

.nav_menu {
	padding: 35px 0;
	overflow: hidden;
}

.nav_menu li a {
	color: #424242;
	font-weight: bold;
	margin: 5px;
}

.nav_menu li:first-child a {
	color: red;

}

.nav_menu ul {
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}

.disk_dekor {
	background-color: #424242;
	width: 6px;
	height: 6px;
	border-radius: 50px;
	display: inline-block;
}

/* banner
****************************************/
.info {
	text-align: center;
	display: block;
	color: white;
	font-size: 2.6rem;
}

.info h1{
	font-weight: bold;
}

.banner {
	background: url(../img/fon1.png) no-repeat top center;
	background-size: cover;
	text-align: center;
	padding: 180px 0 235px;
}

.banner .btn {
	padding: 10px 30px;
}

.banner a {
	background-color: #F8CD53;
	text-transform: uppercase;
	color: white;
	font-size: 2.1rem;
	font-weight: bold;
	border-radius: 10px;
}


/* our_services
****************************************/
#our_services, #our_services p  {
	color: #424242;
	text-align: center;
}

#our_services h2, #our_approch h2 {
	color: #424242;
	font-size: 4.1rem;
	font-weight: bold;
	padding-top: 50px;
}

#our_services p, #our_approch p {
	margin-top: -9px;
	padding-top: 15px;
	font-size: 1.4rem;
}

#our_services .info p, #our_approch .info p {
	margin-top: -9px;
	padding-top: 15px;
	font-size: 1.8rem;
}

#our_services .info:after, #our_approch .info:after {
	content: '';
	display: block;
	width: 46px;
	height: 6px;
	background-color: #424242;
	margin: 9px auto 40px;
}

.icon {
	display: block;
	width: 84px;
	height:84px;
	margin: 0 auto;
	background: url(../img/icon1.png) no-repeat 50% 50%;
}

.icon2 {
	background: url(../img/icon2.png) no-repeat 50% 50%;
}

.icon3 {
	background: url(../img/icon3.png) no-repeat 50% 50%;
}

#our_services h3 {
	font-weight: bold;
}



#our_services .col-md-4 {
	padding-left: 40px;
	padding-right: 40px;
}




/* our_approch
****************************************/
#our_approch {
	background-color: #F3F3F3;
	color: #424242;
	padding-bottom: 100px;
}

#our_approch .container, #our_approch .col-md-4, #our_approch .col-md-8, #our_approch span {
	padding: 0;
}

#our_approch .container {
	max-width: 1024px;
}



#our_approch .row {
	margin: 0;
	margin-bottom: 40px;

}

#our_approch .info p {
	color: #424242;
}

.approch_block {
	box-shadow: 0 0 5px #EBEBEB;
	border-radius: 10px;
	background-color: white;
	margin-bottom: 35px;
	overflow: hidden;
}

#our_approch .content {
	padding: 40px 70px;
}

.approch_block h4 {
	font-weight: bold;
}

#our_approch .step {
	position: absolute;	
	right: -50px;
	top: 66px;
}

#our_approch .col-md-4 {
	display: block;
	width: 340px;
	height: 235px;
	background-color: #D2D2D2;
}

.step1 {
	background: url(../img/step_fon1.png) no-repeat;
}

.step2 {
	background: url(../img/step_fon2.png) no-repeat;
}

.step3 {
	background: url(../img/step_fon3.png) no-repeat;
}

.step4 {
	background: url(../img/step_fon4.png) no-repeat;
}

#our_approch .approch_right .col-md-4{
	float: right;
}

#our_approch .approch_right .step {
	right: 85%;
	top: 66px;
}
/* our_work
****************************************/
#our_work {
	background-color: #DE2B24;
}

#our_work .info:after {
	content: '';
	display: block;
	width: 46px;
	height: 6px;
	background-color: white;
	margin: 9px auto 40px;
}

#our_work h2 {
	font-size: 4.1rem;
	font-weight: bold;
	padding-top: 70px;
}

.foto_galery {
	margin: 0 auto;
}

.foto_galery img {
	margin: -2px;
	padding: 0;
	border: none;
	width: 25%;
}
/* analysis
****************************************/
#analysis {
	background-color: #1287BF;
}

.form {
	width: 400px;
	margin: 0 auto;
	background-color: #FFFFFF;
}

/* get_in_touch
****************************************/
.get_in_touch {
	background-color: #2A2A2A;
	padding: 90px 0 80px 0;
	text-align: center;
}

.get_in_touch h4 {
	color: white;
	font-weight: bold;
	font-size: 2.8rem;
}

.get_in_touch p {
	color: white;
}

.form_control {
	width: 683px;
	height: 54px;
	background-color: #515151;
	border: none;
	color: #BEBEBE;
	padding-left: 20px;
	margin-bottom: 25px;
}

.touch_btn {
	padding: 18px 48px;
	background-color: #2A2A2A;
	border-radius: 5px;
	color: white;
	border: 2px solid #515151;
}

.touch_social li {
	display: inline-block;
	width: 45px;
	height: 45px;
	border: 2px solid #515151;
	border-radius: 5px;
	margin: 0 5px;

}

#get_in_touch {
	padding-left: 0px;
} 

.touch_social li a {
	color: white;
}
.fa {
	margin-top: 12px;
}

/* analysis
****************************************/
footer {
	background-color: #515151;
	text-align: center;
	padding: 25px 0 30px;
	color: white;
}



@media only screen and (max-width: 992px) {

.approch_block .col-md-4 {
	margin: 0 auto;
}

#our_approch .step {	
	right: -12px;
	top: 60%;
}

.approch_block .col-md-4 {
	margin: 0 auto;
}

#our_approch .step {	
	right: -12px;
	top: 60%;
}

.approch_block .approch_right .col-md-4 {
	margin: 0 auto;
}

#our_approch .approch_right .step {	
	right: -12px;
	top: 60%;
}

#our_approch .approch_right .col-md-4{
	float: none;;
}

	
}

