

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding: 0;
}

header {
	height: 45px;
	background-color: #F0F2F4;
}


section {
	width: 100%;
	display: block;

}

nav ul li {
	display: inline-block;
}

/* banner
****************************************/
.info {
	text-align: center;
	display: block;
	color: white;
	font-size: 2.6rem;
}

.info h1{
	font-weight: bold;
}

.banner {
	background: url(../img/fon1.png) no-repeat top center;
	background-size: cover;
	text-align: center;
	padding: 180px 0 235px;
}

.banner .btn {
	padding: 10px 30px;
}

.banner a {
	background-color: #F8CD53;
	text-transform: uppercase;
	color: white;
	font-size: 2.1rem;
	font-weight: bold;
	border-radius: 10px;
}


/* our_services
****************************************/
#our_services, #our_services p  {
	color: #424242;
	text-align: center;
}

#our_services h2, #our_approch h2 {
	color: #424242;
	font-size: 4.1rem;
	font-weight: bold;
	padding-top: 50px;
}

#our_services p, #our_approch p {
	margin-top: -9px;
	padding-top: 15px;
	font-size: 1.4rem;
}

#our_services .info p, #our_approch .info p {
	margin-top: -9px;
	padding-top: 15px;
	font-size: 1.8rem;
}

#our_services .info:after, #our_approch .info:after {
	content: '';
	display: block;
	width: 46px;
	height: 6px;
	background-color: #424242;
	margin: 9px auto 40px;
}

.icon {
	display: block;
	width: 84px;
	height:84px;
	margin: 0 auto;
	background: url(../img/icon1.png) no-repeat 50% 50%;
}

.icon2 {
	background: url(../img/icon2.png) no-repeat 50% 50%;
}

.icon3 {
	background: url(../img/icon3.png) no-repeat 50% 50%;
}

#our_services h3 {
	font-weight: bold;
}



#our_services .col-md-4 {
	padding-left: 40px;
	padding-right: 40px;
}




/* our_approch
****************************************/
#our_approch {
	background-color: #F3F3F3;
	color: #424242;
}

#our_approch .info p {
	color: #424242;
}

.step_fon1, .step_fon3 {
	background: white url(../img/step_fon1.png) no-repeat center center;
	height: 235px;
	width: 340px;
	float: left;
	margin-right: 90px;
}


.step_fon2, .step_fon4 {
	background: url(../img/step_fon2.png) no-repeat center center;
	height: 235px;
	width: 340px;
	float: right;
	margin-left: 92px;
}

.step_fon3 {
	background: white url(../img/step_fon3.png) no-repeat center center;
}

.step_fon4 {
	background: white url(../img/step_fon4.png) no-repeat center center;
}

.approch_block {
	box-shadow: 0 0 5px #EBEBEB;
	border-radius: 5px;
	background-color: white;
	height: 235px;
	margin-bottom: 35px;
}

.content {
	width: 700px;
	display: inline-block;
	padding: 50px 50px 50px 0;
}

.content h4 {
	font-weight: bold;	
}

.approch_block span {
	display: block;
	height: 105px;
	width: 105px;
	position: relative;
	top: 70px;
	left: 290px;
}

.approch_right span {
	top: 70px;
	left: -50px;
}

.step1 {
	background: url(../img/step1.png) no-repeat center left;
}

.step2 {
	background: url(../img/step2.png) no-repeat center right;
}

.step3 {
	background: url(../img/step3.png) no-repeat center left;
}

.step4 {
	background: url(../img/step4.png) no-repeat center right;
}











/* our_work
****************************************/
#our_work {
	background-color: #DE2B24;
}

/* analysis
****************************************/
#analysis {
	background-color: #1287BF;
}

.form {
	width: 400px;
	margin: 0 auto;
	background-color: #FFFFFF;
}

/* get_in_touch
****************************************/
.get_in_touch {
	background-color: #2A2A2A;
}



/* analysis
****************************************/
footer {
	background-color: #515151;
	text-align: center;
	padding: 25px 0 30px;
}